*{
    box-sizing: border-box;
}
h1{
    margin-top: 38px;
    margin-left: 114px;
}
table{
    margin-left: 114px;
    
    
    
    
}
th{
    text-align: left;
}

.id{
    width: 201px;
    height: 45px;
    color: #e0e0e0;
    text-align: left;
}
.title{
    width: 593px;
    height: 45px;
    color: #e0e0e0;
    text-align: left;
}
.creat{
    width: 201px;
    height: 45px;
    color: #e0e0e0;
    text-align: left;
}
.best{
    border-collapse: collapse;
    
}
.soli{
    color: #ff0000;
}
